      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Deficiency Flow Chart </h1>
        </div>
        <div class="ibox-content">
          <div class="m-t-sm">
            <div class="row">
              <div class="col-md-12">

              </div>

            </div>
          </div>
        </div>
      </div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {

      });
    </script>

<% end %>