      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Major Graded Areas </h1>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div id="container-major"></div>
            </div>
          </div>

        </div>
      </div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {

        // Create the chart
        $('#container-major').highcharts({
          chart: {
            type: 'column'
          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          xAxis: {
            type: 'category'
          },
          yAxis: {
            title: {
              text: ''
            }

          },
          legend: {
            enabled: false
          },
          credits: {
            enabled: false
          },
          plotOptions: {
            series: {
              borderWidth: 0,
              dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
              }
            }
          },

          tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b><br/>'
          },

          series: [{
            name: 'Major Graded Area',
            colorByPoint: true,
            data: [{
              name: 'Managing Resources',
              y: 25.71,
              drilldown: 'Managing Resources'
            }, {
              name: 'Leadership/Supervision',
              y: 45.93,
              drilldown: 'Leadership/Supervision'
            }, {
              name: 'Improving the Unit',
              y: 20,
              drilldown: 'Improving the Unit'
            }, {
              name: 'Executing the Mission',
              y: 8.4,
              drilldown: 'Executing the Mission'
            }]
          }],
          drilldown: {
            series: [{
              name: 'Managing Resources',
              id: 'Managing Resources',
              data: [
                [
                  'Equipment',
                  35
                ],
                [
                  'Guidance',
                  28
                ],
                [
                  'Facilities',
                  33
                ],
                [
                  'Airmans Time',
                  40
                ],
                [
                  'Funds',
                  98
                ]
              ]
            }, {
              name: 'Leadership/Supervision',
              id: 'Leadership/Supervision',
              data: [
                [
                  'Training',
                  49
                ],
                [
                  'Communication',
                  56
                ],
                [
                  'Unit Training',
                  11
                ],
                [
                  'Individual Training',
                  70
                ],
                [
                  'Discipline',
                  20
                ],
                [
                  'Compliance',
                  11
                ],
                [
                  'System',
                  69
                ],
                [
                  'Feedback',
                  41
                ],
                [
                  'PME',
                  27
                ],
                [
                  'Accountability',
                  64
                ]
              ]
            }, {
              name: 'Improving the Unit',
              id: 'Improving the Unit',
              data: [
                [
                  'CCIP',
                  39
                ],
                [
                  'Data Collection',
                  42
                ],
                [
                  'Strategic Alignment',
                  18
                ],
                [
                  'Key Work Processes',
                  26
                ],
                [
                  'Self-Assessment Program',
                  21
                ],
                [
                  'Performance Metrics',
                  36
                ]
              ]
            }, {
              name: 'Executing the Mission',
              id: 'Executing the Mission',
              data: [
                [
                  'Wing CC Satisfaction',
                  24
                ],
                [
                  'Right Quality',
                  17
                ],
                [
                  'Right Quantity',
                  18
                ],
                [
                  'Right Time',
                  17
                ]
              ]
            }]
          }
        });
      });
    </script>

<% end %>