<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h1>Root Causes </h1>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <div  id="container-root"></div>
      </div>
    </div>

  </div>
</div>


<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
        // Age categories
        var categories = ['Guidance', 'Human Factors', 'Leadership/Supervision', 'Resource Shortfall',
          'Safety', 'Training','Other'];
        $(document).ready(function () {
          $('#container-root').highcharts({
            chart: {
              type: 'bar'
            },
            title: {
              text: ''
            },
            subtitle: {
              text: ''
            },
            xAxis: [{
              categories: categories,
              reversed: true,
              labels: {
                step: 1
              }
            }, { // mirror axis on right side
              opposite: true,
              reversed: true,
              categories: categories,
              linkedTo: 0,
              labels: {
                step: 1
              }
            }],
            yAxis: {
              title: {
                text: null
              },
              labels: {
                formatter: function () {
                  return Math.abs(this.value) + '%';
                }
              }
            },

            plotOptions: {
              series: {
                stacking: 'normal'
              }
            },

            tooltip: {
              formatter: function () {
                return '<b>' + this.series.name + ', ' + this.point.category + '</b><br/>' + Highcharts.numberFormat(Math.abs(this.point.y), 2) + '%';
              }
            },

            series: [{
              name: 'Deficiencies',
              data: [-9.3, -15.7, -10.3, -26.54, -22.42, -10.57, -5.15]
            }, {
              name: 'Observations',
              data: [7.29, 16.94, 15.06, 24.24, 16.94, 18.35, 1.18]
            }],
            legend: {
              enabled: false
            },
            credits: {
              enabled: false
            }
          });
        });

      });
    </script>

<% end %>