<div class="wrapper wrapper-content">

  <div class="row">

    <div class="col-lg-12">
      <%= render 'analysis/major' %>
    </div>

  </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="ibox" style="margin-top: 20px;">
                <div class="ibox-content">
              <table class="footable table table-stripped table-bordered">
                <thead>
                <tr>
                  <th>Major Graded Area</th>
                  <th>Grade</th>
                  <th>Comments</th>
                  <th>RIAs</th>
                  <th>Deficiencies</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Managing Resources</td>
                  <td><span class="label label-primary">Highly Effective</span></td>
                  <td>13</td>
                  <td>34</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>Leadership and Supervision</td>
                  <td><span class="label label-primary">Effective</span></td>
                  <td>3</td>
                  <td>4</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Improving the Unit</td>
                  <td><span class="label label-warning">Marginally Effective</span></td>
                  <td>1</td>
                  <td>31</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Executing the Mission</td>
                  <td><span class="label label-warning">Effective</span></td>
                  <td>0</td>
                  <td>4</td>
                  <td>2</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
              </div>
            </div>

        </div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
        $('.footable').footable();
        $('.footable2').footable();
      });
    </script>

<% end %>