<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Inspection Analysis</h2>
  </div>
</div>
<div class="wrapper wrapper-content">

  <div class="row">

    <div class="col-lg-6">
      <%= render 'analysis/major' %>
    </div>

    <div class="col-lg-6">
      <%= render 'analysis/root'%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Deficiency Flow Chart </h1>
        </div>
        <div class="ibox-content">
          <div class="m-t-sm">
            <div class="row">
              <div class="col-md-12">

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {

      });
    </script>

<% end %>