<div class="wrapper wrapper-content">

  <div class="row">

    <div class="col-lg-12">
      <%= render 'analysis/root' %>
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox" style="margin-top: 20px;">
        <div class="ibox-content">
          <table class="footable table table-stripped table-bordered">
            <thead>
            <tr>
              <th>Unit</th>
              <th>Finding</th>
              <th>Root Cause Category</th>
              <th>Root Cause Item</th>
              <th>Severity</th>
              <th>Inspection Type</th>
              <th>HHO</th>
              <th>Repeat</th>
              <th>Unit ID</th>
              <th>PFW</th>
              <th>Root Cause</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>163 RW</td>
              <td>Observation</td>
              <td>Equipment</td>
              <td>Equipment Unavailable</td>
              <td>Critical</td>
              <td>CCIP</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
              <td>False</td>
              <td>Primary</td>
            </tr>
            <tr>
              <td>163 MX</td>
              <td>Deficiency</td>
              <td>Equipment</td>
              <td>Equipment Unavailable</td>
              <td>Significant</td>
              <td>CCIP</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
              <td>False</td>
              <td>Primary</td>
            </tr>
            <tr>
              <td>163 CF</td>
              <td>Observation</td>
              <td>Leadership</td>
              <td>Inadequate Supervisor</td>
              <td>Minor</td>
              <td>UEI</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>Contributing</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
        $('.footable').footable();
        $('.footable2').footable();
      });
    </script>

<% end %>