<div class="row">
<div class="col-lg-12">
    <div class="wrapper wrapper-content">
        <div class="middle-box text-center animated fadeInRightBig" style="max-width:500px;">
            <h3 class="font-bold">INSPECTIONS</h3>

            <div class="error-desc">
                This part of the AFIS Web Application is not yet complete. But, we see it being a place to possible integrate IGEMS functionality in this already beautiful website.
                <br/>
              <br/>
              Check out the other features!
              <br /><a href="<%= url_for :controller => 'dashboards', :action => 'overview' %>" class="btn btn-primary m-t">Dashboard</a>
            </div>
        </div>
    </div>
</div>
</div>