      <div class="ibox">
        <div class="ibox-title" style="padding-top: 0px; padding-bottom: 0px; height: 50px;">
          <h1>Checklists</h1>
        </div>
        <div class="ibox-content" style="clear:left; float:left; width: 50%;">
          <div id="container-checklist" style="height: 195px;"></div>
        </div>
        <div class="ibox-content" style="clear:right; float:left; width: 50%;">
          <div id="container-completion" style="height: 195px;"></div>
        </div>
      </div>


<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
        var rand1, rand2;

        rand1 = Math.round(Math.random() * 100);
        if(rand1 < 50){
          rand1 += 50;
        }
        if(rand1 > 75){
          rand1 -= 25;
        }
        rand1 = rand1 + 25;
        if(rand1 < 90){
         rand1 -= 10;
        }
        $('#container-checklist').highcharts({
          chart: {
            type: 'pie',
            renderTo: 'container-checklist',
          },
          title: {
            text: '<span style="font-size: 20px;">Compliance</span>'
          },
          subtitle: {
            text: '<span style="font-size: 20px;">'+rand1+'</span>',
            align: 'center'
          },
          tooltip: {
            enabled: false
          },
          credits: {
            enabled: false
          },
          plotOptions: {
            pie: {
              shadow: false,
              center: ['50%', '50%'],
              dataLabels: {
                enabled: false
              }
            }
          },

          series: [{
            name: 'Compliance',
            data: [{
              y: rand1,
              color: '#55BF3B'
            },{
              y: 100 - rand1,
              color: '#ffffff'
            }],
            size: '140%',
            innerSize: '60%',
            enableMouseTracking: false,

          }]
        });

        rand2 = Math.round(Math.random() * 100);
        if(rand2 < 50){
          rand2 += 50;
        }
        if(rand2 > 75){
          rand2 -= 25;
        }
      $('#container-completion').highcharts({
        chart: {
          type: 'pie',
          renderTo: 'container-completion',
        },
        title: {
          text: '<span style="font-size: 20px;">Completion</span>'
        },
        credits: {
          enabled: false
        },
        subtitle: {
          text: '<span style="font-size: 20px;">'+rand2+'</span>',
          align: 'center'
        },
        tooltip: {
          enabled: false
        },
        plotOptions: {
          pie: {
            shadow: false,
            center: ['50%', '50%'],
            dataLabels: {
              enabled: false
            }
          }
        },

        series: [{
          name: 'Completion',
          data: [{
            y: rand2,
            color: '#55BF3B'
          },{
            y: 100 - rand2,
            color: '#ffffff'
        }],
          size: '140%',
          innerSize: '60%',
          enableMouseTracking: false
        }]
      });

      });
    </script>

<% end %>