<div class="ibox">
  <div class="ibox-title" style="padding-top: 0px; padding-bottom: 0px; height: 6   0px;">
    <h1>Program Status</h1>
  </div>
  <div class="ibox-content" style="text-align: center; clear:left; float:left; width: 50%; padding-bottom: 0px;">
    <span style="font-size: 20px;">CCIP</span>
  </div>
  <div class="ibox-content" style="text-align: center; clear:right; float:left; width: 50%; padding-bottom: 0px;">
    <span style="font-size: 20px;">SIP</span>
  </div>
  <div class="ibox-content" style="clear:left; float:left; width: 50%; padding: 5px 5px 5px 5px; border-width: 0px;">
    <div id="container-ccip" style="height: 128px;"></div>
  </div>
  <div class="ibox-content" style="clear:right; float:left; width: 50%; padding: 5px 5px 5px 5px; border-width: 0px;">
    <div id="container-sip" style="height: 128px;"></div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
        var ccip = ['Outstanding','Highly Effective','Effective','Marginally Effective','Ineffective'],
            sip = ['High Risk','Elevated Risk','Moderate Risk','Low Risk','No Risk'],
            ccipstr, sipstr, ccipval, sipval;

        ccipval = Math.round(Math.random() * 100);

        if (ccipval <= 15) {
          ccipstr = ccip[4];
        } else if (ccipval > 15 && ccipval <= 35) {
          ccipstr = ccip[3];
        } else if (ccipval > 35 && ccipval <= 65){
          ccipstr = ccip[2];
        } else if (ccipval > 65 && ccipval <= 85){
          ccipstr = ccip[1];
        } else{
          ccipstr = ccip[0];
        }

        sipval = Math.round(Math.random() * 100);

        if (sipval <= 15) {
          sipstr = sip[4];
        } else if (sipval > 15 && sipval <= 35) {
          sipstr = sip[3];
        } else if (sipval > 35 && sipval <= 65){
          sipstr = sip[2];
        } else if (sipval > 65 && sipval <= 85){
          sipstr = sip[1];
        } else{
          sipstr = sip[0];
        }

        var gaugeOptions = {

          chart: {
            type: 'solidgauge'
          },

          title: {
            text: null
          },

          pane: {
            center: ['50%', '50%'],
            size: '100%',
            startAngle: -90,
            endAngle: 90,
            background: {
              backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
              innerRadius: '60%',
              outerRadius: '100%',
              shape: 'arc'
            }
          },

          tooltip: {
            enabled: false
          },

          // the value axis
          yAxis: {

            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,

          },

          plotOptions: {
            solidgauge: {
              dataLabels: {
                y: 40,
                borderWidth: 0,
                useHTML: true
              }
            }
          }
        };

        // The speed gauge
        $('#container-ccip').highcharts(Highcharts.merge(gaugeOptions, {
          yAxis: {
            min: 0,
            max: 100,
            title: {
              text: null
            },
            stops: [
              [0.1, '#DF5353'], // red
              [0.5, '#DDDF0D'], // yellow
              [0.9, '#55BF3B'] // green
            ],
            showFirstLabel: false,
            showLastLabel: false
          },

          credits: {
            enabled: false
          },

          series: [{
            name: 'CCIP',
            data: [ccipval],
            dataLabels: {
              format: '<div style="text-align:center; font-size: 18px; color: #555555; font-weight: normal;"><span>{y}</span><br/><span>' + ccipstr + '</span></div>'
            },
            tooltip: {
              valueSuffix: ' %'
            }
          }]

        }));

        // The RPM gauge
        $('#container-sip').highcharts(Highcharts.merge(gaugeOptions, {
          yAxis: {
            min: 0,
            max: 100,
            title: {
              text: null
            },
            stops: [
              [0.1, '#55BF3B'], // green
              [0.5, '#DDDF0D'], // yellow
              [0.9, '#DF5353'] // red
            ],
            showFirstLabel: false,
            showLastLabel: false
          },

          credits: {
            enabled: false
          },
          series: [{
            name: 'SIP',
            data: [sipval],
            dataLabels: {
              format: '<div style="text-align:center; font-size: 18px; color: #555555; font-weight: normal;"><span>{y}</span><br/><span>' + sipstr + '</span></div>'
            },
            tooltip: {
              valueSuffix: ' %'
            }
          }]

        }));
      });
    </script>

<% end %>