<div class="wrapper wrapper-content">

  <div class="row">

    <div class="col-lg-8">
      <%= render 'dashboards/map' %>
    </div>

    <div class="col-lg-4" style="padding-bottom: 21px">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Program Status</h1>
        </div>
        <div class="ibox-content" style="clear:left; float:left; width: 50%;">
          <div id="container-ccip" style="height: 125px;"></div>
        </div>
        <div class="ibox-content" style="clear:right; float:left; width: 50%;">
          <div id="container-sip" style="height: 125px;"></div>
        </div>

      </div>
    </div>
<div class="col-lg-4">
    <%= render 'dashboards/checklists' %>
</div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= render 'dashboards/inspanel' %>
    </div>
   </div>

</div>

<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
      var value1 = 'Effective', value2 = 'No Risk';

      var gaugeOptions = {

        chart: {
          type: 'solidgauge'
        },

        title: null,

        pane: {
          center: ['50%', '85%'],
          size: '170%',
          startAngle: -90,
          endAngle: 90,
          background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
          }
        },

        tooltip: {
          enabled: false
        },

        // the value axis
        yAxis: {

          lineWidth: 0,
          minorTickInterval: null,
          tickPixelInterval: 400,
          tickWidth: 0,
          title: {
            y: -70
          },
          labels: {
            y: 16
          }
        },

        plotOptions: {
          solidgauge: {
            dataLabels: {
              y: 20,
              borderWidth: 0,
              useHTML: true
            }
          }
        }
      };

      // The speed gauge
      $('#container-ccip').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
          min: 0,
          max: 100,
          title: {
            text: 'CCIP'
          },
          stops: [
            [0.1, '#DF5353'], // red
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#55BF3B'] // green
          ]
        },

        credits: {
          enabled: false
        },

        series: [{
          name: 'CCIP',
          data: [0],
          dataLabels: {
            format: '<div style="text-align:center; font-size: 20px; color: #555555; font-weight: normal;"><span>{y}</span><br/><span>' + value1 + '</span></div>'
          },
          tooltip: {
            valueSuffix: ' %'
          }
        }]

      }));

      // The RPM gauge
      $('#container-sip').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
          min: 0,
          max: 100,
          title: {
            text: 'SIP'
          },
          stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
          ]
        },

        credits: {
          enabled: false
        },
        series: [{
          name: 'SIP',
          data: [0],
          dataLabels: {
            format: '<div style="text-align:center; font-size: 20px; color: #555555; font-weight: normal;"><span>{y}</span><br/><span>' + value2 + '</span></div>'
          },
          tooltip: {
            valueSuffix: ' %'
          }
        }]

      }));

      // Bring life to the dials
      setTimeout(function () {
        
        // Speed
        var chart = $('#container-ccip').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
          point = chart.series[0].points[0];
          inc = Math.round((Math.random() - 0.5) * 100);
          newVal = point.y + inc;

          if (newVal < 0 || newVal > 100) {
            newVal = point.y - inc;
          }
          point.update(newVal);
        }

        // RPM
        chart = $('#container-sip').highcharts();
        if (chart) {
          point = chart.series[0].points[0];
          inc = Math.round((Math.random() - 0.5) * 100);
          newVal = point.y + inc;

          if (newVal < 0 || newVal > 100) {
            newVal = point.y - inc;
          }
          point.update(newVal);
        }
      }, 1000);

      });
    </script>

<% end %>