<div class="wrapper wrapper-content">

  <div class="row">

    <div class="col-lg-8">
      <%= render 'dashboards/map' %>
    </div>

    <div class="col-lg-4">
      <%= render 'dashboards/status' %>

    </div>
<div class="col-lg-4">
    <%= render 'dashboards/checklists' %>
</div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= render 'dashboards/inspanel' %>
    </div>
   </div>

</div>