<div class="wrapper wrapper-content">

    <div class="col-lg-8">

    <%= render 'dashboards/map' %>

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>Checklist Trend Analysis </h1>
      </div>
      <div class="ibox-content">
        <div id="container-linechart"></div>
      </div>
    </div>

    </div>

  <div class="col-lg-4">
    <%= render 'dashboards/checklists' %>
  </div>
    <div class="col-lg-4" style="margin-top: 50px; ">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h1>Top 10 At Risk Checklists</h1>
        </div>
        <div class="ibox-content">

          <table class="table table-striped table-bordered table-hover" data-page-size="8" data-filter=#filter  style="font-size: large; height: 600px;">
            <thead>
            <tr>
              <th>Checklist Title</th>
              <th>Unit</th>
              <th>Risk</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Checklist 84</td>
              <td>Unit 1</td>
              <td><span class="label label-danger">High Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 14</td>
              <td>Unit 23</td>
              <td><span class="label label-warning">Elevated Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 22</td>
              <td>Unit 22</td>
              <td><span class="label label-warning">Elevated Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 1</td>
              <td>Unit 3</td>
              <td><span class="label label-warning">Elevated Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 567</td>
              <td>Unit 5</td>
              <td><span class="label label-warning">Moderated Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 342</td>
              <td>Unit 24</td>
              <td><span class="label label-primary">Low Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 142</td>
              <td>Unit 46</td>
              <td><span class="label label-primary">Low Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 21</td>
              <td>Unit 24</td>
              <td><span class="label label-default">No Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 142</td>
              <td>Unit 46</td>
              <td><span class="label label-primary">Low Risk</span></td>
            </tr>
            <tr>
              <td>Checklist 21</td>
              <td>Unit 24</td>
              <td><span class="label label-default">No Risk</span></td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>


  </div>



<% content_for :javascript do %>

    <script type="text/javascript">
      $(function () {
        var seriesOptions = [],
            seriesCounter = 0,
            names = ['MSFT', 'AAPL', 'GOOG'];

        /**
         * Create the chart when all data is loaded
         * @returns {undefined}
         */
        function createChart() {

          $('#container-linechart').highcharts('StockChart', {

            rangeSelector: {
              selected: 4
            },

            yAxis: {
              labels: {
                formatter: function () {
                  return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
              },
              plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
              }]
            },

            plotOptions: {
              series: {
                compare: 'percent'
              }
            },

            tooltip: {
              pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
              valueDecimals: 2
            },

            series: seriesOptions
          });
        }

        $.each(names, function (i, name) {

          $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?',    function (data) {

            seriesOptions[i] = {
              name: name,
              data: data
            };

            // As we're loading the data asynchronously, we don't know what order it will arrive. So
            // we keep a counter and create the chart when all the data is loaded.
            seriesCounter += 1;

            if (seriesCounter === names.length) {
              createChart();
            }
          });
        });
      });
    </script>

<% end %>